<h3>Sonny's Shop</h3>
<p>123 Fake St,<br>Philadelphia, PA 19142</p>
<p>Phone: 215-111-2222</p>
<br />
<h3>Hours</h3>
<table class="schedule">
  <tr>
    <th>Monday</td>
    <td>9:00 - 6:00</td>
  </tr>
  <tr>
    <th>Tuesday</th>
    <td>9:00 - 6:00</td>
  </tr>
  <tr>
    <th>Wednesday</th>
    <td>9:00 - 6:00</td>
  </tr>
  <tr>
    <th>Thursday</th>
    <td>9:00 - 6:00</td>
  </tr>
  <tr>
    <th>Friday</th>
    <td>9:00 - 6:00</td>
  </tr>
  <tr>
    <th>Saturday</th>
    <td>9:00 - 6:00</td>
  </tr>
  <tr>
    <th>Sunday</th>
    <td>Closed</td>
  </tr>
</table>
