<h2>Hours</h2>
<table>
	<tr>
		<td class="day">
			Monday
		</td>
		<td class="hour">
			9:00 - 9:00
		</td>
	</tr>
	<tr>
		<td class="day">
			Tuesday
		</td>
		<td class="hour">
			9:00 - 9:00
		</td>
	</tr>
	<tr>
		<td class="day">
			Wednesday
		</td>
		<td class="hour">
			9:00 - 9:00
		</td>
	</tr>
	<tr>
		<td class="day">
			Thursday
		</td>
		<td class="hour">
			9:00 - 9:00
		</td>
	</tr>
	<tr>
		<td class="day">
			Friday
		</td>
		<td class="hour">
			9:00 - 9:00
		</td>
	</tr>
	<tr>
		<td class="day">
			Saturday
		</td>
		<td class="hour">
			9:00 - 9:00
		</td>
	</tr>
	<tr>
		<td class="day">
			Sunday
		</td>
		<td class="hour">
			Closed
		</td>
	</tr>							
</table>