<h2>About us</h2>
<p>Some stuffs about the shop</p>
<table class="team">
	<tr>
		<td>
			<h3>Son</h3>
			<img src="assets/team/son.jpg" width=200px>
		</td>
		<td class="teaminfo">
			Info on what he does, his experiences, and fun facts :)
		</td>
	</tr>
</table>