<section class="9u">
<h1>Questions or comments?</h1>
<form method="post" action="#">
	<input name="name" placeholder="Name" type="text" class="text" />
	<input name="phone" placeholder="Phone #" type="text" class="text" />
	<input name="email" placeholder="Email" type="text" class="text" />
	Prefer method of contact:
	<select>
	  <option value="phone">Phone</option>
	  <option value="email">Email</option>
	</select>
	<textarea name="message" placeholder="Message" rows=7></textarea>
	<a class="button" href="contact" >Send Message</a>
</form>
</section>
