// Place all the styles related to the Cars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.car {
  width: 100%;
  font-size: 1.3em;

  tr {
    border-bottom: 1px solid #DDDDDD;
  }

  th {
    font-weight: 300;
  }
}

.car_list {
  .row {
    padding: 0.5em;
  }

  .row:nth-child(2){
    background: #f6f7f9;
  }

  th {
    padding: 0.5em;
  }

}

.car_list_details {
  line-height: .4em;
  min-width: 25em;
  tr {
   border-bottom: 1px solid #DDDDDD;
   text-align: left;
  }

  th {
    font-weight: 400;
  }
}

.car-photo {
  img {
    width: 100%;
    min-width: 200px;
  }
}

.car_details th {
  font-weight: 400;
}
