// Place all the styles related to the Cars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.car {
  width: 100%;
  font-size: 1.3em;

  tr {
    border-bottom: 1px solid #DDDDDD;
  }

  th {
    font-weight: bold;
  }
}

.car_list_details {
  line-height: .4em;

  tr {
   border-bottom: 1px solid #DDDDDD;
   text-align: left;
  }
}
