/*  #Clearfix
-------------------------------------------------------------- */
.container:before,
.container:after,
.row:before,
.row:after,
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.container:after,
.row-example:after,
.cf:after {
  clear: both;
}

.container,
.row-example,
.cf {
  *zoom: 1;
}
